body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --main: #1890ff;
  --link: #1890ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.block {
  display: block;
}

.none {
  display: none !important;
}

pre {
  margin-bottom: 0;
}

.content-right {
  text-align: right;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/**wrapper - start*/
.view-wrapper {
  height: 100vh;
}

.view-wrapper .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.view-wrapper .header .toggle {
  height: 100%;
  cursor: pointer;
}

.view-wrapper .header .toggle .anticon {
  font-size: 20px;
}

.view-wrapper .header .view-header-auto {
  flex: 1;
  min-width: 1%;
}

.view-wrapper .header .view-header-user {
  display: flex;
  height: 100%;
  align-items: center;
  color: #adb7be;
  cursor: pointer;
}

.view-wrapper .header .view-header-user figure {
  display: flex;
  margin: 0 5px 0;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.view-wrapper .header .view-header-user figure:hover {
  color: var(--link);
}

.view-wrapper .header .view-header-time {
  color: #5a5a5a;
  padding-right: 20px;
}

.view-wrapper .ant-layout-sider-children {
  position: relative;
}

.view-wrapper .ant-layout-sider-children .close-up {
  display: block;
  position: absolute;
  top: 50%;
  right: -14px;
  z-index: 10;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  font-size: 40px;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.view-wrapper .site-layout-background {
  position: fixed;
  top: 64px;
  left: 0;
  z-index: 9;
  height: calc(100% - 64px);
}

.view-wrapper .site-layout-background .ant-layout-sider-children {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.view-logo {
  height: 64px;
  color: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.3s;
  animation: fade-in;
  animation-duration: 0.3s;
}

.view-logo label {
  animation: fade-in;
  animation-duration: 0.3s;
}

.view-logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.view-logo .anticon {
  font-size: 30px;
  margin-right: 10px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.content-wrapper .view-title {
  font-size: 18px;
}

.content-wrapper .content-main {
  position: relative;
  background-color: #fff;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
}

.table-box {
  margin-top: 20px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/**wrapper - end*/
