.role-box .btns-row button {
  margin: 0 5px;
}

.add-eidt__box .add-eidt__row {
  display: flex;
}

.add-eidt__box .add-eidt__row label {
  width: 120px;
}

.add-eidt__box .add-eidt__row .input-group {
  flex: auto;
}
